@media only screen and (max-width: 1024px) {

    .container {
       // max-width: 970px;
    }

    .svg-arrow {
        width: 2em;
        height: 2em;
    }

   .intro-up-title {
        font-size: 20px;
        font-weight: normal;

    }

    .intro-text {
        font-family: Raleway, sans-serif;

        font-size: 12px;
        color: #fff;

        margin-bottom: 5px;
    }

    .intro-title {
        font-family: Raleway, sans-serif;
        font-size: 30px;
        color: #fff;
        text-align: center;
        margin-bottom: 5px;
    }

    .block-btn {
        padding-top: 10px;
    }

    .intro-btn {
        font-size: 12px;
        padding: 10px 20px;
    }

    .pagination {
        margin-top: 15px;
        align-self: center;

    }

    .main-service {
        margin-bottom: 0;
    }

    .op-header h1 {
        padding: 10px 0 0;
    }

    .op-header p {
        color: #8c8c8c;
        font-size: 14px;
        line-height: 1.6em;
        font-weight: normal;
        text-align: center;
        margin-top: 20px;
    }

    .op-card-item {
        flex-flow: row wrap;
    }

    .op-items:nth-child(2n)::after {
        content: '';
        width: 100%;
    }

    .list-partner {
        flex-flow: row wrap;
    }

    .items-logo img {
        margin: 150px 150px;
    }

    .item-logo:nth-child(2n)::after {
        content: '';
        width: 100%;
    }

}

@media screen and (max-width: 992px) {
    .header-inner {
        /* max-width: 900px; */
        display: inline-block;
    }

    .link-logo {

        padding-bottom: 5px;
    }

    .link-logo-txt {
        font-size: 28px;
    }

    .widgets-body {
        flex-direction: column;
        align-items: center;
    }

    .widget-column {
        width: 80%;
    }

    .op-card-item {
        justify-content: center;
    }

    .count {
        font-size: 40px;
        color: #ffffff;

    }

    .device-img {
        max-width: 100%;
        height: auto;
    }

    .item-icon {
        font-size: 14px;
    }

    .services {
        justify-content: center;
    }

    .service-item:nth-child(2n)::after {
        content: '';
    }

    .service-inner .service-icon:hover {
        color: orange;
        transform: scale(1);
        transition: all 0.4s;
    }

    .relize-content h2 {
        padding-top: 20px;
    }

    .relize-content p {
        margin-bottom: 0;
    }

    .relize-image {
        /* max-width: 710px; */
        background-size: 75%;
        min-height: 365px;
    }

    .count-grid {
        flex-direction: row;
    }

}


@media screen and (max-width: 767px) {

    .intro-wrap {
       
        /* padding: 70px 0; */
    }

    .intro-img {
        height: auto;
    }

    .navbar {
        display: block;
    }

    .intro {
        height: auto;
    }

    /* .header-inner {
        display: none;
    } */

    .intro-up-title {
        font-size: 10px;
        font-weight: normal;
        /* padding-bottom: 15px; */
    }

    .intro-title {
        font-family: Raleway, sans-serif;
        font-size: 13px;
        color: #fff;
        text-align: center;
    }

    .intro-text {
        width: 250px;
        font-family: Raleway, sans-serif;
        font-size: 8px;
        color: #fff;

    }

    .intro-btn {
        padding: 5px 5px;
        font-size: 10px;
        width: auto;
    }

    .services {
        flex-direction: column;
        padding-top: 15px;
        margin-bottom: 10px;
    }

    .service-icon {
        font-size: 36px;
        transition: color .3s;
    }

    .service-content-title {
        font-size: 16px;
        margin: 15px auto 7px;
        padding: 0;

    }

    .service-discription {
        font-size: 12px;
        margin-bottom: 15px;
    }

    .filter-project {

        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        align-content: center;
    }


    .list-portfolio {
        /* justify-content: normal; */
        margin: 20px 0;
    }

    .card-portfolio {
        width: 240px;
        height: 100%;
    }

    .our-project {

        padding: 10px;
    }

    .wrap {
        padding-top: 10px;
    }

    .relize-content h2 {
        font-size: 20px;
    }

    .relize-content p {
        font-size: 12px;
    }

    .reklama-left {
        align-items: center;
    }

    .reklama-content {
        padding: 20px 0px 10px;
        flex-direction: column;
        align-items: center;
    }

    .reklama-title {
        font-size: 1.3em;
        line-height: 1.2em;
        margin-top: -6px;
        margin-bottom: -2px;
        color: white;
    }

    .reklama-subtitle {
        margin: 0;
        font-size: 16px;

    }

    .btn-purchase {
        align-self: center;
        /* width: 120px; */

        margin-top: 10px;
    }


    .btn-purchase-txt {
        margin: auto;
        font-size: 16px;
    }

    .count-grid {
        flex-direction: column;
    }

    .mobile-img {
        display: none;
    }

    .devices-advantages {

        margin: 20px 0;
    }

    .presentation-description {
        top: 0;
    }

    .presentation-play {
        display: none;
    }

    .title {
        font-family: Raleway;
        font-size: 25px;
        font-weight: bold;
        padding-top: 50px;

    }

    .subtitle {
        padding: 10px;
        color: #fff;
        font-size: 14px;
        line-height: 1em;

    }

    .presentation__duration {
        display: none;
    }

    .list-partner {
        justify-content: center;

    }

    .link-logo {
        display: block;
    }

    .pagination {
        margin: 10px;
    }

    .op-card {
        max-width: 250px;
    }

    .op-card-item {
        justify-content: inherit;
    }

    .btn-more {
        text-align: center;
    }

    .pagination-link {
        max-width: 5px;
        min-height: 5px;
    }

    .relize-image {
        /* max-width: 710px; */
        background-size: 75%;
        min-height: 170px;
    }

    .inner-project {
        padding-bottom: 15px;
    }
}
