* {
    /* background-color: burlywood; */
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    padding-top: 35px;
    transition: .3s;
    /* background-color: black; */
    
}

.header-fixed{
    position: fixed;
    overflow: hidden;
    top: 0%;
    width: 100%;
    /* backgr?ound-color: darkslategray; */
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination {
    width: 120px;
    display: flex;
    justify-content: center;
    
    /* background-color: darkgray; */
  }
  
  .pagination-link {
    display: block;
    width: 10px;
    min-height: 10px;
    margin: 5px;
    background-color: #ccc;
    border-radius: 50%;
    border: 2px solid transparent;
  }
  
  .pagination-link:hover {
    border: 2px solid gold;
    background-color: transparent;
  }


/* logo start */
.link-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    text-decoration: none;
    /* background-color: #998675; */
}

.link-logo-svg {
    fill: #fff;
}

.link-logo-txt {
    color: #fff;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}

.link-logo:hover .link-logo-svg {
    fill: orange;
}

.link-logo:hover .link-logo-txt {
    color: orange;
}

.link-logo:active .link-logo-svg {
    fill: gold;
}

.link-logo:active .link-logo-txt {
    color: gold;
}

/* logo end */

/* menu */
.nav {
    transition: .3s;
}

.nav-ul {
    list-style-type: none;
    width: 637px;
    /* можно попробовать задать min-width и max-width */
    padding: 0;


    display: flex;
    justify-content: space-between;
}

.nav-li a {
    /* display: block; */
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-right: 20px;

}

.nav-li a:hover {
    color: orange;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    padding-top: 70px;
    /* min-height: 850px; */

    background: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.5)) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 5;

/* , url("img/bg-intro.jpg") */
}

.intro-img{
    /* position: absolute; */
    width: 100%;
    height: 100vh;
    /* opacity: .5; */
}

.intro-ice {
    background: url("img/bg-intro--ice.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro-bg {
    background-color: rgba(0, 0, 0, 3);

}
.intro-wrap{
    display: flex;
    justify-content: center;
    
    
}

.intro-inner {
    width: 100%;
    max-width: 595px;
    margin: 0 auto;
    line-height: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.intro-up-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #fff;

    margin-bottom: 10px;
}

.intro-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 52px;
    color: #fff;

    margin-bottom: 20px;
}

.intro-text {
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    line-height: 1.6;

    margin-bottom: 50px;
}

.intro-btn {
    /* display: inline-block; */
    width: 170px;
    align-self: center;
    text-decoration: none;
    color: #fff;

    background-color: #998675;
    padding: 20px 35px;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;

    box-shadow: 0 0 3px #998675;

    border-radius: 3px;

    transition: background .1s linear;
}

.intro-btn:hover {
    background-color: #fff;
    /* color: #998675; */
    color: orange;
}

.intro-btn:active {
    background-color: #998675;
    color: orange;
}

.pagination {
    margin-top: 50px;
    align-self: center;
    width: 120px;
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    /* background-color: darkgray; */
}

.pagination-link {
    display: block;
    width: 10px;
    min-height: 10px;
    margin: 5px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid transparent;
}

.pagination-link:hover {
    /* border: 2px solid gold;
     */
    background-color: gold;
    background-color: transparent(50%);
}

.svg-arrow {
    /* align-self: baseline; */
    margin: 0 54px;
    fill: white;
    font-size: 20px;
    align-self: center;
}

.svg-arrow:hover {
    fill: orange;
}

.svg-arrow:active {
    fill: orange;
}

.main-service {
    padding: 80px 0;
    position: relative;
    margin-bottom: 90px;
}

.services {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-item{
    padding-bottom: 50px;
}

.service-item a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    text-decoration: none;
    color: #363636;
}

.service-inner {
    display: flex;
    flex-direction: column;
    /* box-sizing: border-box; */
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    /* color: #363636; */
}
.service-inner .service-icon:hover{
    color: orange;
    /* fill: orange; */
}
.service-icon {
    background: transparent;
    /* opacity: 0.55; */
    font-size: 44px;
    height: 72px;
    transition: color .3s;
    
}

.fa-briefcase{
    text-align: center;
}


.service-content {
    align-self: center;
    text-align: center;
    justify-content: space-between;
}

.service-content-title {
    font-size: 22px;
    margin: 25px auto 15px;
    padding: 0;
    font-weight: 500;
    /* text-align: center; */
    align-self: center;
    text-transform: none;
    transition: color .3s;
    /* color: #363636; */
}

.service-discription {
    font-size: 15px;
    line-height: 1.5em;
    margin-bottom: 15px;
    transition: color .3s;
    /* color: #363636; */
}

.fadeIn{
    animation-name: fadeIn;
}
.animated{
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes fadeIn{
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.relize{
    width: 100%;
   
}
.wrap{
    padding-top: 90px;
}
.relize-content h2{
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    color: rgb(85, 85, 85);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    padding-top: 80px;
}
.relize-content p{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: rgb(140, 140, 140);
    line-height: 1.75;
    text-align: center;
    margin-top: 15px;
    padding-left: 230px;
    padding-right: 230px;
    padding-bottom: 40px;
}
.relize-image{
    height: 480px;
    background-image: url("img/bg_center.jpg"), url("img/bg_left.jpg"), url("img/bg_right.jpg");
    background-repeat: no-repeat;
    background-position: bottom center, left bottom, right bottom;
}


.btn-purchase {
    display: flex;
    width: 170px;
    min-height: 50px;
    border-radius: 3px;
    background-color:  #998675;
    /* padding: ; */
    text-transform: uppercase;
   
    border-bottom: 3px solid #736356;
  }
  
.btn-purchase:hover {
    background-color:  #736356;
    border-bottom: 3px solid #998675;
    text-decoration: none;
}
  
.btn-purchase:hover .btn-txt2 {
    color:  #ccc;
}
  
.btn-purchase:active .btn-txt2 {
    color:  #fff;
}
  
.btn-purchase-txt {
    margin: auto;
    font-family: Raleway;
    color: #ffffff;
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
    text-align: center;
}

.block-reklama {
    background-color: #2f2928;
    width: 100%;
}

.reklama-inner {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    max-width: 1210px;
    padding: 60px 0px 50px;
    
    margin: 0 auto;
    
}

.reklama-title{
    line-height: 1.2em;
    margin-top: -6px;
    margin-bottom: -2px;
}

.highlight-span{
    font-weight: bold;
    color: #c7b299;
}
.cta-title{
    line-height: 1.2em;
    margin-top: -6px;
    margin-bottom: -2px;
    color: white;
  }
  .cta-subtitle{
    margin: 0;
    font-size: 21px;
    font-weight: 300;
    color: #fff;
  }